body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Open Sans",sans-serif;

}

.menu-principal {
    width: 100%;
    background-color: #ffffff;
    height: 100px;
    border-bottom: 3px solid #efefef;

}

main, .content {
margin: 0 auto;
width: 1000px;
position: relative;

}

.logo {
    float: left;
    padding: 10px;
    width: 100px;

}

.menu ul li {
    display: inline-block;
    margin-left: 35px;
    margin-top: 40px;
    float: left;
    list-style-type: none;
    color: black;
}

/*
.menu ul li :hover {
    border-bottom: 1px solid #829d75;
}
*/
.menu ul li a:hover {
    color: #829d75;

}

.menu ul li a {
    color: #494949;
    text-decoration: none;
    font-size: 20px;    

}
.menu {
    width: 1000px;
    }

.texto-destaque {
   text-align: center; 
}

.texto-destaque h1 {
    margin-bottom: 1em;
}


.texto-destaque p {
    color: #545454;
}

#txt-3 h1 {
    margin-top: 2em;
}

.col-3 {
    width: 33.33%;
    float: left;
    position: relative;
}

.bloco-icon{
    
}

.bloco-icon ul li {
    display: inline-block;
}

.txt-4 h1 {
    margin-top: 2em;
    text-align: center;
}

.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.bloco-imagem {
       
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}

.bloco-imagem b,p {
    text-align: center;
}

.bloco-texto {
    margin-top: 3em;
}

/*pagina do recrutamento*/


.recrutamento {
    margin-top: 3em;
    text-align: center; 
 }
 
 .recrutamento h1 {
     margin-bottom: 1em;
 }
 
 .recrutamento p {
     color: #545454;
 }

 /*pagina do patrocinio*/

 .patrocinio-titulo {
    margin-top: 3em;
    text-align: center; 
 }
 
 .patrocinio-titulo h1 {
     margin-bottom: 1em;
 }
 
 .patrocinio-titulo p {
     color: #545454;
 }

 .col-03 {
    width: 33.33%;
    float:right;
    position: relative;
}

.bloco-patrocinio{
    margin-top: 1em;
}

.bloco-patrocinio ul li {
    display: inline-block;
}

/*CONTATOS*/


/*MECANICA*/

.sistema-mecanica {
    margin-top: 3em;
    text-align: center; 
 }
 
 .sistema-mecanica h1 {
     margin-bottom: 1em;
 }
 
 .sistema-mecanica p {
     color: #545454;
 }

.container {
    text-align: center; /* Alinhar as divs dentro do container */
  }
  
.box {
    display: inline-block;
    width: 48%; /* Ajustar a largura das divs conforme necessário */
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }

.box p {
    color: #494949;
}

.freio-1 {
    text-align: center; /* Alinhar as divs dentro do container */
  }
  
.lider {
    display: inline-block;
    width: 30%; /* Ajustar a largura das divs conforme necessário */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
  }

/*ELETRONICA*/

.eletro {
    margin-top: 3em;
    text-align: center; 
 }
 
 .eletro h1 {
     margin-bottom: 1em;
 }
 
 .eletro p {
    text-align: center;
    width: 70%;
    color: #545454;
    margin-left: 15%;
 }

  
